<h2>Buttons</h2>

@for (button of buttons; track button.id) {
  <button (click)="logEvent(button.title)">
    {{ button.title }}
  </button>
}
<h2>Log</h2>
<ul>
  @for (logItem of log; track logItem.id) {
    <li>
      {{ logItem.title }} -- 
      {{ logItem.timestamp | date: 'dd.MM.yy hh:mm'}}
    </li>
  }
</ul>

<h2>Edit Buttons</h2>
<label>New event button: 
  <input #newEvent 
  (keyup.enter)="addButton(newEvent)">
</label>
<button (click)="addButton(newEvent)">Save</button>

<ul>
@for (button of buttons; track button.id) {
  <li>
    <button>{{ button.title }}</button> <span>--></span>
    <button>edit</button>
    <button>remove</button>
  </li>
}
</ul>